<div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card fxFlex="20%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>
                Agregar Premio
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">
            <div class="input-agregar">
                <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                    <mat-label class="label">Nombre</mat-label>
                    <input [(ngModel)]="descripcion" class="input-one" matInput placeholder="Nombre Premio" />
                </mat-form-field>
            </div>
        </mat-card-content>
        <div fxLayoutAlign="center">
            <button class="mat-button" type="button" (click)="guardarNuevoPremio()">
            Agregar
        </button>
        </div>
    </mat-card>
</div>
<div class="content table-table" fxLayoutAlign="center">
    <div class="mat-elevation-z8 tabla-x">
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.descripcion }}
                </td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                <td mat-cell *matCellDef="let element">
                    <button class="button-icon" type="button" fxLayoutAlign="center" (click)="eliminar(element)">
                            <mat-icon>delete</mat-icon>
                          </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef>Editar</th>
                <td mat-cell *matCellDef="let element">
                    <button class="mat-button-link" type="button" fxLayoutAlign="center" (click)="editarPremio(element)">Editar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>