<div class="imagenes">
    <img class="img" src="https://apicrm.betplay.com.co/homeimages/logo-SELECCION-1644332800291.png" alt="" title="" />
    <img class="img" src="https://apicrm.betplay.com.co/homeimages/logo-DIMAYOR-1644332252297.png" alt="" title="" />
    <img class="img" src="https://apicrm.betplay.com.co/homeimages/logo-DIMAYOR-1644332320109.png" alt="" title="" />
    <img class="img" src="https://apicrm.betplay.com.co/homeimages/logo-DIMAYOR-1644332346074.png" alt="" title="" />
    <img class="img" src="https://apicrm.betplay.com.co/homeimages/logo-DIMAYOR-1644332511967.png" alt="" title="" />
    <img class="img" src="https://apicrm.betplay.com.co/homeimages/logo-DIMAYOR-1644332539174.png" alt="" title="" />
    <img class="img" src="https://betplay.com.co/assets/img/coljuegos/jugar_legal.png" alt="" title="" />
    <!-- <img class="img" src="https://betplay.com.co/assets/img/footer/logo-juega-bien.png" alt="" title="" /> -->
</div>