.mat-button {
    border-radius: 1ch;
    border-style: solid;
    background: #002361;
    color: #002361;
    display: block;
    margin: auto;
    color: white;
    font-size: 100%;
    margin-bottom: 20px;
}