<h1 mat-dialog-title>{{data.titulo}}</h1>
<div mat-dialog-content>
    <div *ngIf="tratamiento">
        <p>
            <a href="../../../../assets/documentos/PoliticaTratamientoDatosPersonales.pdf" target="_blank">Ver tratamientos de datos</a>
        </p>
    </div>
    <div *ngIf="terminos">
        <p>
            -Solo podrán participar personas mayores de edad, de nacionalidad colombiana y residentes legalmente en Colombia. -BetPlay no se responsabiliza por los gastos adicionales a los establecidos en los Términos y Condiciones de la campaña. -El premio no podrá
            redimirse o compensarse de diferente forma a la que sugiere cada promoción. -El premio no podrá ser transferido a otra persona, no estará permitida la reventa por los ganadores.
        </p>
        <p>
            -BetPlay podrá descalificar al participante que incurra en conductas irregulares, cometa fraudes o practique acciones contrarias a la ley o contrarias a estos términos y condiciones. -Los términos y condiciones de la actividad podrán ser modificados por
            BetPlay sin previo aviso. -Al participar en la promoción, los participantes manifiestan su aceptación a los presentes términos y condiciones. -Toda la información relacionada con la promoción, será suministrada en idioma español. -Las únicas
            cuentas válidas para la comunicación serán las siguientes:
        </p>
        <p>
            Instagram: https://www.instagram.com/betplayco/ Facebook: https://www.facebook.com/BetPlayCo/ Twitter: https://twitter.com/BetPlayCO

        </p>
        <p>
            -Se entenderá que los ganadores, autorizan a la Empresa, para utilizar con fines publicitarios, su nombre y fotografía, sin limitación del tiempo que fuera necesario o útil para efectos promocionales, sin tener derecho a percibir pagos algunos por dicho
            concepto. -Los impuestos y retenciones correspondientes a la adquisición de los premios serán asumidos por Corredor Empresarial.
        </p>
        <p>
            -Se declararán como desiertos los premios que no puedan ser entregados por falta de participantes para completar la cuota mínima de ganadores o suplentes correspondiente o de personas que cumplan con la “mecánica para participar” y términos y condiciones
            de esta campaña. -Si usted como usuario, ve su nombre en la lista de ganadores de esta promoción, también puede comunicarse con nosotros por medio de cualquier canal de atención para validar el premio o puede escribir al correo promocionalesbetplay@cempresarial.co
        </p>
        <p>
            -Los premios serán entregados a las cuentas de BetPlay que se encuentren en estados “ACTIVO” únicamente
        </p>
        <p>
            ENTREGA DE PREMIOS: -El premio, será enviado al ganador después de 20 días hábiles, luego de contar con la totalidad de los datos solicitados por Betplay al ganador, las fechas podrán variar según la agilidad de los usuarios. -Se solicitarán los datos
            logísticos pertinentes para iniciar la gestión de entrega del premio. -Para contactar al ganador, se tomará en cuenta un lapso de 5 días calendario a partir del momento en el que se conoce el ganador. -El premio se entregará a la dirección
            proporcionada por el usuario ganador. -La entrega de los premios tangibles estará sujeta a disponibilidad en las tiendas al momento de la compra por parte de Corredor Empresarial SA. En caso de no contar con stock en la tienda, se dará un
            bono de consumo por el mismo valor del premio.
        </p>
        <p>
            -BetPlay y Corredor Empresarial SA se responsabilizan por el envío del premio a la dirección del usuario, sin embargo, se limita al alcance geográfico y temporal de empresas de encomiendas y envíos. En casos donde la localidad del ganador no sea cubierta
            por empresas de envíos y encomiendas se solicitará al ganador acercarse a un punto de comercialización de BetPlay en la ciudad principal más cercana a su localidad. -El formato de Acta de entrega será enviado por medio del correo promocionalesbetplay@cempresarial.co
            y el ganador tiene un plazo de 24 horas hábiles contadas a partir de la fecha y hora en que se envía al correo confirmado para enviar formato de acta diligenciado con copia de la cédula. -En el caso de que no podamos contactar al ganador oficial
            en un lapso de 24 horas, se procederá a entregar el premio al suplente según el orden en el que fueron seleccionados. -En caso de que el ganador no entregue los documentos requeridos para hacer la entrega formal del premio en un lapso de 24
            horas, se procederá a entregar el premio al suplente según el orden en el que quedaron seleccionados.

        </p>
    </div>
    <div *ngIf="condiciones">
        <p>
            Autorizo de manera voluntaria, previa, expresa e informada a CORREDOR EMPRESARIAL S.A., para tratar mi información personal, de acuerdo con lo dispuesto en la Ley 1581 de 2012, el Decreto Único 1074 de 2015 y a las finalidades descritas en la política
            de tratamiento de datos personales, las cuales están relacionadas con Mercadeo, Administrativas y Frente a Terceros disponible para consulta aquí. Recuerde que, si desea conocer, actualizar, rectificar, suprimir datos personales o revocar
            la autorización al uso de los mismos, puede escribir a protecciondedatos@cempresarial.co para realizar la solicitud.
        </p>
    </div>
</div>
<div mat-dialog-actions>
    <button class="mat-button" [mat-dialog-close]="data.codigoInvocacion" cdkFocusInitial>Aceptar</button>
</div>