.content {
    transition: 2s;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.mat-button {
    border-radius: 20px;
    background: #002361;
    color: white;
    font-size: 100%;
    margin-bottom: 20px;
}

.mat-button-link {
    border-radius: 20px;
    background: #002361;
    color: white;
    font-size: 100%;
    height: auto;
    border: none;
    height: 40%;
}

.mat-button:hover,
.mat-button-link:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    background: #385170;
}

.input-one {
    color: black;
}

.mat-button-ver {
    border-radius: 50%;
    background: #002361;
    margin: auto;
    color: white;
}

th {
    margin-top: 20px;
    position: relative;
    text-align: center;
    padding-right: 0;
}

td {
    position: relative;
    text-align: center;
}

.mat-button-two {
    border-radius: 20px;
    border: none;
    background: #002361;
    color: white;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

table {
    padding-bottom: 10px;
    width: 100%;
}

.tabla-x {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    background: #385170;
    transition: 3s;
}

.tabla-x:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
    box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
}

.textarea {
    resize: none;
    width: 100%;
}

.button-icon {
    background-color: white;
    border: none;
    color: black;
    border-radius: 40%;
    margin-left: 20%;
}

.mat-button-ver:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    background: #385170;
}

.button-icon:hover {
    background-color: #002361;
    color: white;
}

@media screen and (max-width: 425px) {
    td {
        font-size: 10px;
        padding-right: 15px;
    }
    th.mat-header-cell {
        font-size: 13px;
        text-align: center;
    }
    .mat-button-two {
        margin-top: 9%;
    }
    table {
        left: 15%;
        width: 100%;
    }
    mat-icon,
    .button-icon {
        margin-right: 0;
        font-size: medium;
    }
    .mat-button-link {
        margin-left: 20%;
    }
}

.mat-paginator {
    width: 100%;
}

.mat-card {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    border-radius: 10px;
    transition: 3s;
}

.mat-card:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
    box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
}

.close {
    border-radius: 10px;
    background-color: white;
    border: none;
    transition: 1s;
    display: inline;
    float: right;
}

.close:hover {
    background-color: rgba(198, 216, 232, 1);
}