<div class="container-home">
    <mat-tab-group class="tap-group" dynamicHeight [selectedIndex]="tabSeleccionado" (selectedIndexChange)="onClickTabSeleccionado($event)">
        <mat-tab label="Buscar Ganadores" *ngIf="indAdmin || indConsulta">
            <app-buscar-ganadores> </app-buscar-ganadores>
        </mat-tab>
        <mat-tab label="Reporte" *ngIf="indAdmin">
            <app-documento></app-documento>
        </mat-tab>
        <mat-tab acti label="Administración" *ngIf="indAdmin">
            <app-menuadministracion (eventoEmit)="actualizarTab($event)" [detectoCambio]="detectoCambio"></app-menuadministracion>
        </mat-tab>
        <mat-tab disabled>
            <ng-template mat-tab-label>
                <button mat-icon-button (click)="logout()">Cerrar sesión</button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>