<div>
    <button (click)="onNoClick()" class="button-change"><mat-icon>clear</mat-icon></button>
</div>
<br>
<table mat-table class="mat-elevation-z8 demo-table" [dataSource]="ganadores">
    <ng-container matColumnDef="red">
        <th mat-header-cell *matHeaderCellDef>Red</th>
        <td mat-cell *matCellDef="let element">{{ element.detallePremio.red }}
        </td>
    </ng-container>
    <ng-container matColumnDef="premio">
        <th mat-header-cell *matHeaderCellDef>Premio</th>
        <td mat-cell *matCellDef="let element">
            {{ element.detallePremio.premio.descripcion }}
        </td>
    </ng-container>

    <ng-container matColumnDef="promocion">
        <th mat-header-cell *matHeaderCellDef>Promoción</th>
        <td mat-cell *matCellDef="let element">
            {{ element.detallePremio.promocion.nombre }}
        </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button class="mat-button-two" mat-button type="button" fxFlex="50%" fxLayoutAlign="center" (click)="onCopyLink(element)">
                Copy Link
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr style="justify-content: center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>