* {
    padding: 0;
}

.mat-button {
    border-radius: 20px;
    background: #002361;
    color: white;
    width: 100%;
    font-size: 100%;
    margin-bottom: 20px;
}

.mat-button-two {
    border-radius: 20px;
    border: none;
    background: #002361;
    color: white;
    width: 100%;
    height: 50%;
    margin-top: 20%;
    margin-bottom: 20px;
}

.mat-button-two:hover,
.mat-button:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    background: #385170;
}

.content {
    width: 100%;
}

.container-dialog {
    width: 100%;
    height: 100%;
}

table.mat-table {
    width: 550px;
    border-spacing: 0;
    margin-top: -20px;
}

.button-change {
    background-color: white;
    border: none;
}

.button-change:hover {
    color: darkgray;
}

th {
    margin-top: 20px;
    position: relative;
    text-align: center;
    padding-right: 0;
}

td {
    position: relative;
    text-align: center;
}

@media screen and (max-width: 425px) {
    td {
        font-size: 10px;
        padding-right: 15px;
    }
    th.mat-header-cell {
        font-size: 13px;
        text-align: center;
    }
    .mat-button-two {
        margin-bottom: 23px;
        margin-left: 20%;
        margin-top: 30%;
        font-size: 10px;
    }
    table.mat-table {
        width: 100%;
        border-spacing: 0;
        margin-top: -20px;
    }
}

.textarea {
    background-color: initial;
    border: none;
    box-shadow: none;
    font-size: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%;
    padding-left: 0%;
}