.content {
    transition: 2s;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 10px;
}

.content-create {
    transition: 2s;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.content-table {
    transition: 2s;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 223px;
}

.mat-button {
    border-radius: 20px;
    background: #002361;
    color: white;
    font-size: 100%;
    margin-bottom: 20px;
}

.mat-button-link {
    border-radius: 20px;
    background: white;
    color: black;
    font-size: 100%;
    height: auto;
    border: none;
    height: 40%;
    padding-left: 20%;
}

textarea[disabled] {
    background-color: white;
}

.mat-button-link:hover {
    color: darkgray;
}

.mat-button:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    background: #385170;
}

.input-one {
    color: black;
}

.mat-button-ver {
    border-radius: 50%;
    background: #002361;
    margin: auto;
    color: white;
}

th {
    font-size: large;
    margin-top: 20px;
    position: relative;
    text-align: center;
    padding-right: 0;
}

.mat-button-two {
    border-radius: 20px;
    border: none;
    background: #002361;
    color: white;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

table {
    padding-bottom: 10px;
    width: 100%;
}

.textarea {
    resize: none;
    width: 100%;
    border: 1px solid transparent;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-icon {
    background-color: white;
    border: none;
    color: black;
    border-radius: 40%;
    margin-left: 20%;
}

.mat-button-ver:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    background: #385170;
}

.dialog-editar {
    width: 100%;
}

.button-icon:hover {
    background-color: #002361;
    color: white;
}

.mat-paginator {
    width: 800px;
}

@media screen and (max-width: 425px) {
    td,
    .textarea {
        font-size: 10px;
        padding-right: 15px;
    }
    th.mat-header-cell {
        font-size: 13px;
        text-align: center;
    }
    .mat-button-two {
        margin-top: 9%;
    }
    table {
        left: 15%;
        width: 100%;
    }
    mat-icon,
    .button-icon {
        margin-right: 0;
        font-size: medium;
    }
    .mat-button-link {
        margin-left: 20%;
    }
    .dialog-editar {
        width: 100%;
    }
    .mat-paginator {
        width: 100%;
    }
}

.mat-card {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 56px 5px rgba(230, 230, 230, 1);
    border-radius: 10px;
    transition: 3s;
}

.mat-card:hover {
    -webkit-box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
    -moz-box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
    box-shadow: 0px 1px 56px 5px rgba(198, 216, 232, 1);
}


/* Structure */

.example-container {
    position: relative;
}

.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}