<div class="content-create" fxLayoutAlign="center">
    <button class="mat-button" (click)="crearPromocion()">Crear Promoción</button>
</div>
<div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card fxFlex="20%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Busqueda</mat-card-title>
        </mat-card-header>
        <div>
            <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                <mat-label class="label">Codigo</mat-label>
                <input [(ngModel)]="codigo" class="input-one" matInput placeholder="Codigo de Promoción" />
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center">
            <button class="mat-button" type="button" (click)="obtenerPromocionPorCodigo()">
                Buscar
            </button>
        </div>
    </mat-card>
</div>
<div fxLayoutAlign="center" class="content">
    <button class="mat-button" type="button" (click)="obtenerPromociones()">
    Mostrar Promociones
</button>
</div>
<div class="content-table" fxLayoutAlign="center">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataPromociones">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.nombre }}
                </td>
            </ng-container>

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Codigo</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.codigo }}
                </td>
            </ng-container>

            <ng-container matColumnDef="terminos">
                <th mat-header-cell *matHeaderCellDef>Terminos</th>
                <td mat-cell *matCellDef="let element">
                    <textarea class="textarea" disabled name="" id="" cols="20" rows="2">{{ element.terminos }}</textarea>
                </td>
            </ng-container>
            <ng-container matColumnDef="administrar">
                <th mat-header-cell *matHeaderCellDef>Editar</th>
                <td mat-cell *matCellDef="let element">
                    <button class="mat-button-link" type="button" fxLayoutAlign="center" (click)="openDialogAdministrarPromocion(element)"><mat-icon>edit</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPromociones"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPromociones">
            </tr>
        </table>
        <mat-paginator id="tbl2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
<!---->