    .dialog-content {
        justify-content: center;
        align-items: center;
    }
    
    ::ng-deep .mat-dialog-container {
        background-color: #c6d8e8;
        color: #002361;
    }
    /* Border */
    
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #002361;
    }
    /* Font color */
    
    ::ng-deep .input.mat-input-element {
        color: #002361;
    }
    
    ::ng-deep input.mat-input-element {
        color: #002361;
    }
    
    .mat-input-element {
        color: #002361;
    }
    
    .text-area-full-width {
        width: 100%;
        height: 100%;
    }
    
    .mat-form-field--inline {
        flex-direction: row;
        align-items: center;
    }
    
    .example-full-width {
        width: 100%;
    }
    
    ::ng-deep .mat-select-value {
        color: #002361;
    }
    
    .mat-button {
        border-radius: 1ch;
        border-style: solid;
        border-color: #002361;
        border-top-color: #002361;
        background: #002361;
        color: #002361;
    }