<div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card fxFlex="100%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>
                Actualizar Premio
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">
            <div class="input-agregar">
                <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                    <mat-label class="label">Nombre</mat-label>
                    <input [(ngModel)]="data.descripcion" class="input-one" matInput placeholder="Nombre Premio" />
                </mat-form-field>
            </div>
        </mat-card-content>
        <div fxLayoutAlign="center">
            <button class="mat-button" type="button" (click)="actualizarPremio()">
            Actualizar
        </button>
        </div>
    </mat-card>
</div>