.content {
    justify-content: center;
    align-items: center;
    background-color: #c6d8e8;
    display: flex;
}

.mat-card-title {
    justify-content: center;
    align-items: center;
    color: #002361;
}

.mat-button {
    border-radius: 1ch;
    border-style: solid;
    background: #002361;
    color: #002361;
    display: block;
    margin: auto;
    color: white;
    width: 110px;
    font-size: larger;
    width: 30%;
}

.mat-button:hover {
    background: #385170;
}

.mat-form-field-100 {
    width: 100%;
    height: 50%;
}

mat-card-header {
    justify-content: center;
}

.mat-card {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 30%;
    width: 50%;
}