 .content {
     background-color: #c6d8e8;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 
 .mat-button {
     border-radius: 1ch;
     border-style: solid;
     background: #002361;
     color: #002361;
     display: block;
     margin: auto;
     color: white;
     width: 60%;
     font-size: 100%;
 }
 
 .mat-button:hover {
     background: #385170;
 }