html,
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

div {
    /* background-color: #002361; */
    background-color: white;
}

app-header {
    width: 100%;
    top: 0;
}

app-footer {
    bottom: 0;
    width: 100%;
}

.router,
.header,
.footer {
    background-color: #002361;
}

.fullscreen {
    background-color: white;
}