mat-card,
mat-label {
    color: black;
}

mat-card {
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 30%;
    width: 50%;
    text-align: center;
}

mat-card-header {
    justify-content: center;
}

.content {
    justify-content: center;
    align-items: center;
    background-color: #c6d8e8;
    display: flex;
}

.mat-button {
    border-radius: 1ch;
    border-style: solid;
    background: #002361;
    color: #002361;
    display: block;
    margin: auto;
    color: white;
    width: 110px;
    font-size: larger;
}

.mat-card-title {
    color: black;
}

.mat-form-field-100 {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: block;
    border-color: #fff;
}

.mat-button:hover,
.mat-button-one:hover {
    background: #385170;
}

.mat-button-one {
    display: block;
    margin: auto;
}

.mat-form-field--inline {
    flex-direction: row;
    align-items: center;
}


/* Font color */

mat-card-content {
    justify-content: center;
}