<div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="mat-card" fxFlex="40%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Promocionales</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="promocionalesFormGroup" role="form">
                <p>
                    <mat-form-field appearance="outline" fxFlex="100%">
                        <mat-label class="label">Nombre promoción</mat-label>
                        <input [(ngModel)]="promocion.nombre" matInput placeholder="Nombre promoción" formControlName="npromocion" />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" fxFlex="100%">
                        <mat-label class="label">Código promocional</mat-label>
                        <input [(ngModel)]="promocion.codigo" matInput placeholder="Código promocional" formControlName="cpromocion" />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" fxFlex="100%">
                        <mat-label class="label">Link publicación</mat-label>
                        <input [(ngModel)]="promocion.linkPublicacion" type="text" matInput placeholder="Link publicación" formControlName="lpublicacion" />
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline" fxFlex="100%">
                        <mat-label class="label">Terminos y condiciones</mat-label>
                        <textarea [(ngModel)]="promocion.terminos" rows="5" cols="500" class="text-area-full-width" matInput placeholder="Terminos y condiciones" formControlName="tcondiciones"></textarea>
                    </mat-form-field>
                </p>
                <p fxLayoutAlign="center">
                    <button class="mat-button-ver" (click)="agregarDetallePromocion()" mat-fab aria-label="Agregar premio" fxLayoutAlign="center">
                        <mat-icon>queue</mat-icon>
                    </button>
                </p>
                <p *ngFor="let item of lstDetalles">
                    <app-premio [detalle]="item"></app-premio>
                </p>
                <p>
                    <button class="mat-button" type="button" [disabled]="indVisibilidadGuardar" (click)="onClickGuardar()">
                        Guardar
                    </button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>