<div>
    <h1 class="title">Dirección</h1>
    <p>Si no recuerdas la direccion que tienes registrada en BetPLay, puedes consultar o modificar <br> tu direcció registrada y otros datos personales ingresa a tu perfil iniciando sesión <a target="_blank" href="https://betplay.com.co/">BetPlay.com.co</a>.</p>
    <p>Si tienes dificultades para hacer la modificación de tu dirección de domicilio u otros datos personales comunícate a <br>nuestra línea de atención en las opciones "Te llamamos", "Chat" o "Escribenos vía email" en <a target="_blank" href="https://betplay.com.co/">BetPlay.com.co</a>.</p>
    <div>
        <button class="mat-button" mat-button mat-dialog-close>Cerrar</button>
    </div>
</div>