<div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card fxFlex="20%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Actualizar Persona</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Nombre completo</mat-label>
                        <input class="input-one" matInput placeholder="Nombre completo" />
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Cedula</mat-label>
                        <input class="input-one" matInput placeholder="Cedula" />
                    </mat-form-field>
                </div>
            </div>
            <div fxLayoutAlign="center">
                <button mat-button class="mat-button mat-form-field-100" type="button">
                    BUSCAR
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>