.mat-card {
    background-color: white;
}

.detalle-premio-container mat-form-field+mat-form-field {
    margin-left: 5px;
    border-radius: 2ch;
    border-color: #002361;
}

.detalle-premio-container mat-form-field {
    width: 220px;
}

.detalle-premio-container form {
    margin-bottom: 8px;
}

.detalle-premio-container form>* {
    margin: 12px 0;
}

::ng-deep .mat-select-value-text {
    color: #002361;
}

::ng-deep .mat-select-placeholder {
    color: #002361;
}

::ng-deep .mat-select-min-line {
    color: #002361;
}

::ng-deep .mat-form-field-hide-placeholder .mat-select-placeholder {
    color: #002361;
}


/* Border */

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #002361;
}


/* Font color */

.mat-input-element {
    color: #002361;
}

.text-area-full-width {
    width: 100%;
    height: 100%;
}

.mat-form-field--inline {
    flex-direction: row;
    align-items: center;
}

.example-full-width {
    width: 100%;
}

.label {
    color: #002361;
}

.mat-form-field-50 {
    width: 50%;
}

.mat-form-field-100 {
    width: 100%;
}

.mat-button {
    border-radius: 1ch;
    border-style: solid;
    background: #002361;
    display: block;
    margin: auto;
    color: white;
    width: 110px;
    font-size: larger;
    display: block;
    margin: auto;
}

.mat-button:hover {
    background: #385170;
}