<div class="content" class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="mat-card-one" fxFlex="40%">
        <mat-card-content>
            <mat-card-header fxLayoutAlign="center">
                <mat-card-title>GANADOR!</mat-card-title>
            </mat-card-header>
            <form role="form">
                <div>
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Nombre completo</mat-label>
                        <input class="input-one" [(ngModel)]="persona.nombreCompleto" disabled="{{ indDisablePersona }}" matInput placeholder="Nombre completo" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Cedula</mat-label>
                        <input type="number" class="example-right-align" disabled="{{ indDisablePersona }}" [(ngModel)]="persona.cedula" matInput placeholder="Cedula" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="50%">
                        <mat-label class="label">Correo</mat-label>
                        <input class="input-one" [(ngModel)]="persona.correo" matInput placeholder="Correo" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                    <mat-label appearance="outline" class="mat-form-field-100" class="center-correo">@</mat-label>

                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="50%">
                        <mat-select [(ngModel)]="persona.dominio" (selectionChange)="onChangeDominio($event)" [ngModelOptions]="{ standalone: true }">
                            <mat-option value="gmail.com">gmail.com</mat-option>
                            <mat-option value="hotmail.com">hotmail.com</mat-option>
                            <mat-option value="yahoot.com">yahoot.com</mat-option>
                            <mat-option value="oulook.com">oulook.com</mat-option>
                            <mat-option value="otro">Otro</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div>
                    <mat-form-field *ngIf="indOcultoOtro" appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Dominio</mat-label>
                        <input (blur)="validarCorreo()" class="input-one" [(ngModel)]="otroDominio" matInput placeholder="Dominio" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Teléfono</mat-label>
                        <input class="input-one" [(ngModel)]="persona.telefono" matInput placeholder="Teléfono" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Direccion</mat-label>
                        <input class="input-one" [(ngModel)]="direccion.descripcion" matInput placeholder="Direccion" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Ciudad/Municipio</mat-label>
                        <input class="input-one" [(ngModel)]="direccion.ciudad" matInput placeholder="Ciudad o municipio" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-form-field-100" fxFlex="100%">
                        <mat-label class="label">Indicaciones entrega</mat-label>
                        <input class="input-one" [(ngModel)]="direccion.adicionales" matInput placeholder="Inidicaciones Apt,casa,piso,vereda" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center">
                    <mat-card class="mat-card-two">
                        <p class="button-save-one">
                            <input type="file" accept=".jpeg,.jpg,.png" class="file-input" (change)="onFileSelected($event)" #fileUpload />
                        </p>

                        <div fxLayoutAlign="center" class="file-picture">
                            <p *ngIf="fileDomain.imageSource == undefined and fileDomain.imageSource == ''">Adjuntar Imagen</p>
                            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <button (click)="verImagen()" class="upload-btn" *ngIf="fileDomain.imageSource != undefined and fileDomain.imageSource != ''"><mat-icon>remove_red_eye</mat-icon></button>
                        </div>
                        <div>
                            <p class="button-save">
                                <mat-checkbox [(ngModel)]="ganador.ganastePremioFisico" (click)="abrirDireccion()" disabled="{{ indDisable }}" [ngModelOptions]="{ standalone: true }">Ganaste premio fisico ¿Deseas enviarlo <br>a tu dirección de domicilio?
                                </mat-checkbox>
                            </p>
                        </div>
                        <section>
                            <p class="button-save">
                                <mat-checkbox [(ngModel)]="ganador.aceptoTerminos" disabled="{{ indDisable }}" [ngModelOptions]="{ standalone: true }">Acepta términos y condiciones <a class="link-terminos" (click)="openDialogTerminos()">(Ver términos)</a>
                                </mat-checkbox>
                            </p>
                            <p class="button-save">
                                <mat-checkbox [(ngModel)]="ganador.tratamientoDatos" disabled="{{ indDisable }}" [ngModelOptions]="{ standalone: true }">Acepto tratamiento de datos <a class="link-terminos" (click)="openDialogTratamiento()">(Ver
                                        Tratamientos)</a></mat-checkbox>
                            </p>
                            <!-- <p class="button-save">
                                <mat-checkbox [(ngModel)]="ganador.aceptacionPremio" disabled="{{ indDisable }}" [ngModelOptions]="{ standalone: true }">Acepta premio <a class="link-terminos" (click)="openDialogCondiciones()">(Ver
                                        Condiciones)</a></mat-checkbox>
                            </p> -->
                        </section>
                        <section>
                            <div class="button-save" fxLayoutAlign="center">
                                <button class="mat-button" disabled="{{ indDisable }}" mat-raised-button color="primary" (click)="guardar()">
                                    Guardar
                                </button>
                            </div>
                        </section>
                    </mat-card>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>